@import "../../styles/variables.scss";

.coctailCard {
  min-height: 425px;
  min-width: 200px;
  border-radius: 4rem;
  padding: 3rem 4rem;
  background-color: #44414e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__badge {
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $deepDark;
    width: 10rem;
    height: 10rem;

    &_title {
      font-weight: 700;
      font-size: 3rem;
    }
    &_subtitle {
      font-weight: 300;
      font-size: 14px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: 0.07em;
  }
  &__subtitle {
    font-size: 18px;
    font-weight: 300;
  }
}
