$mainBackgroundColor: #201f2e;
$footerBackgroundColor: #0e0d13;
$textColor: #fff;
$secondaryTextColor: #c4c1cf;
$buttonColor: #44414e;
$buttonTextColor: #c4c1cf;
$pressedButtonColor: #353240;
$pressedButtonTextColor: #e9e6f2;
$badgeColor: #0e0d13;
